.card-style{
    display: flex;
    /* background-image: url('../Images/yucel.png'); */
    border-radius: 20px;
    width: 200px;
    height: 350px;
    margin:6px;
    margin-bottom: 5px;
    background-size: auto;
    background-repeat: no-repeat;
}
.overlay-card{
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 136px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.text-card{
    color: #FFFFFF;
    font-weight: bold;
    align-self: flex-start;
    margin-left: 14px;
    margin-top: 12px;
    margin-right: 34px;
    margin-bottom: 0px;
    font-size: 16pt;
}
.text-card-description{
    color: #FFFFFF;
    align-self: flex-start;
    font-weight: bold;
    margin-left: 0px;
    margin-bottom: 0px;
    font-size: 8pt; 
}
.text-description{
    margin-bottom: 0px;
    margin-left: 14px;
}
.text-card-skills{
    color: #FFFFFF;
    align-self: flex-start;
    justify-self: flex-end;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 14px;
    margin-bottom: 0px;
    font-size: 8pt; 
}
.text-project{
    margin :0px;
    color: #FFFFFF;
    margin-left: 5px;
    font-size: 9px;
    align-self: center;
    justify-self: center;
}
.project-success{
    margin-left: 14px;
    display: flex;
    flex-direction: row;
}
.text-success{
    margin :0px;
    color: white!important;
    margin-left: 5px;
    font-size: 9px;
    align-self: center;
    justify-self: center;
}
.img-project{
    margin-left: 5px;
}
.spacer{
    width: 60vw;
    height: 50%;
}
.spacer-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    align-self: center;
    margin-top: 20px;
    margin-bottom:10px;
    margin-right:20px;
    margin-left:10px;
    border-radius: 10px;
    height: 40px;
    width: 100vw;
}
.card-container-detail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.card-engineer{
    align-self: center;
    justify-self: center;
}
.crud-engineer-profile{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    padding-top: 16px!important;
    padding: 15px;
    width: 30vw;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 30px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
    
}
.profile{
    font-size: 16pt;
    font-weight: bold;
    margin: 0px!important;
}
.button-hire{
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}
.button-hire-engineer{
    width: 25%;
    margin-top: 20px;
    margin:2px;
}
.hire-form{
    margin: 2px;
}